// 背景のViewport
.main-signup_2 {
  background: #eeeeee;
  height: 100%;
  font-size: 18px;
  .main-box {
    width: 500px;
    background: #fff;
    margin: 0 auto;
    &__header {
      height: 90px;
      border-bottom: 1px solid lightgrey;
      text-align: center;
      font-weight: bold;
      line-height: 100px;
      font-size: 23px;
    }
  }
}

.main__container__form {
  height: 100%;
  width: 100%;
  margin: auto;
  &__content-top {
    height: 90%;
    max-width: 343px;
    margin: 0 auto;
    padding-top: 30px;

    // 名前・mail・パスワード入力欄
    &__box {
      height: 100px;
      width: 100%;
      padding-bottom: 18px;
      &__label {
        font-weight: 550;
        display: inline-block;
      }
      &__require {
        background: #ea352d;
        display: inline-block;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      &__text {
        height: 40px;
        width: calc(100% - 32px);
        margin: 8px 0 0;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      &__info {
        color: #888;
        font-size: 16px;
        margin-top: 10px;
      }
      &__check {
        margin: 10px 0;
        &__box {
          padding: 0 0 0 28px;
          font-size: 16px;
          vertical-align: middle;
          cursor: pointer;
          width: 24px;
          height: 24px;
        }
        &__label {
          font-size: 16px;
          vertical-align: middle;
          cursor: pointer;
        }
      }
    }
    .password_box {
      padding-bottom: 80px;
    }

    // 本人確認入力欄
    &__identity {
      height: 100px;
      width: 100%;
      margin: auto;
      margin-bottom: 30px;
      &__head {
        font-weight: 550;
        margin: 10px 0; 
      }
      &__main {
        margin: 8px 0 0;
        font-size: 15px;
        
      }
    }

    // お名前&（カナ）の入力欄
    &__box__name {
      display: flex;
      height: 50px;
      justify-content: space-between;
      margin-top: 8px;
      &__kanji {
        width: 131.5px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 16px;
      }

      // 生年月日
      
    }
  }
}