.main-signup {
  background: #eeeeee;
  height: 100vh;
  font-size: 18px;
  .main-box {
    width: 500px;
    background: #fff;
    margin: 0 auto;
    &__header {
      height: 90px;
      border-bottom: 1px solid lightgrey;
      text-align: center;
      font-weight: bold;
      line-height: 100px;
      font-size: 23px;
    }

    &__contents {
      height: calc(100% - 95px);
      background: #fff;
      
      a {
        display: block;
        height: 48px;
        width: 68%;
        margin: 20px auto;
        border-radius: 4px;
        line-height: 48px;
        text-decoration: none;
        text-align: center;
      }
      .mail {
        margin-top: 30px;
        color: #fff;
        background: #ea352d;
        border: 1px solid #ea352d;
      }
      .facebook {
        color: #fff;
        background: #385185;
        border: 1px solid #385185;
      }
      .google {
        color: #333;
        background: #fff;
        border: 1px solid #333;
      }
      &__text {
        text-decoration: none;
        color: rgb(46, 135, 170);
        padding-bottom: 30px;
      }
    }
  } 
}