.product-footer {
  height:180px;
  padding: 40px 0;
  background-color:#eeeeee;
  &_center {
    margin : 0 auto;
    height: 54px;
    text-align: center;
    ul {
      display: flex;
      width: 500px;
      margin: 0 auto;
      justify-content: space-around;
      li {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 15px;
        }
      }
    }
  }
  &_logo {
    height: 70px;
    text-align: center;
  }
  &_text {
    height: 50px;
    text-align: center;
    p {
      margin: 0;
    }
  }
}
