


table th{
    padding:10px;
    & td{
        writing-mode:horizontal-tb;
      } 
    }


.show__header--contents{
  text-align:center;    
    }

.show__items--content{
    width: 70%; 
    margin-left:auto;
    margin-right:auto;
}



.show__main--contents{
    display:flex;
    justify-content:center;
}

.show_image{
    width:50%;
    height:400px;
    margin-right:20px;
}


.show__price{
    display:flex;
    display:table;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

.show__price--price{
    margin-right:8px;
    bottom:0px;
    font-size:30px;
}

.show__price--included {
    font-size:5px;
    bottom:0px;
}

.show__price--fee{
    bottom:0px;
}



.purchase-screen{
    text-align:center;
}



.show__btn--name__link{
    text-decoration:none;
}

.show__btn--name__link{
    background-color:red;
    height:70px;
    font-size:30px;
    color:white;
    padding:30px 300px;
}

.purchase-screen{
    margin-top:25px;
}

.show__comments{
    margin-left:150px;
}

.show__link--prev__next{
    display:flex;
    justify-content: space-between;
}

.show__link--next{
    margin-right:100px;
    margin-top:20px;
    margin-bottom:20px;
}

.show__link--prev{
    margin-left:100px;
    margin-top:20px;
    margin-bottom:20px;
}

.show__medhia--links{
    width:500px;
    height:100px;
    margin:0 auto;
    position:relative;


}


.show__medhia--links--box{
    width:250px;
    height:50px;
    position:absolute;
    top:25px;
    left:125px;
    text-align:center;
    
}

a{
    text-decoration:none;
}

.fa-facebook{
  font-size:3rem;
  color:#3b5998;
}

.fa-twitter{
  font-size:3rem;
  color:#55ACEE;
  padding-left:20px;
}

.fa-line{
  font-size:3rem;
  color:#00B900;
  padding-left:20px;
  padding-right:20px;
}

.fa-pinterest-square{
    font-size:3rem; 
    color:#bd081c;
}

.show__users{
    margin-top:30px;
    margin-left:70px;
    font-size:30px;
}


.show__users--other{
  width:800px;
  display:flex;
  margin:0 auto;
  flex-wrap:wrap;
  justify-content:space-around;
}

.show__users--other__item{
    margin-bottom:40px;
    background-color:white;
}


.show__users--other__item--contents{
  background-color:white;
  text-align:center;
  font-size:15px;
}

.show__users--other__item--contents__name{
  padding:16px;
}

.show__users--other__item--contents__price{
    padding:16px;
}