table th{
    padding:10px;
}

table td {
  writing-mode:horizontal-tb;
}

.show__header--contents{
    text-align:center;
    width:70%;
}

.show__main--contents{
    display:flex;
    width:70%;
}

.show_image{
    width:50%;
    height:400px;
}

.show__price{
    text-align:center;
}